{% extends "bootstrap/base.html" %}

{% block title %}
{% if title %}
Authentication System
{% else %}
{{title}}
{% endif %}
{% endblock %}

{% block navbar %}
{% if current_user.is_authenticated %}
<nav>
    <ul class="nav justify-content-end">
        <li class="nav-item">
            <a class="nav-link active" href="{{url_for('auth.logout')}}">{{_('Logout')}}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="{{url_for('main.change_language')}}">
                {% if current_user.language == 'en'%} RU
                {% else %} EN
                {% endif %}
            </a>
        </li>
    </ul>
</nav>
{% endif %}
{% endblock %}

{% block content %}


<div class="container my-5">
    <br>
    <div class="row">
        <div class="col-sm-6 mx-auto">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-info" role="alert">{{ message }}</div>
            {% endfor %}
            {% endif %}
            {% endwith %}
        </div>
    </div>

    {% block my_content %}{% endblock %}
</div>
{% endblock %}
